<div class="row">
    <div class="exam-page">
        <div class="row" style="display: flex;">
            <h4 class="instruction-heading">Online Test</h4>
            <div class="Timer">
                Time Left: <countdown #cd [config]="{leftTime: 1800}" (event)="handleEvent($event)"></countdown>
            </div>
        </div>
    </div>
    <div class="col-md-9" style="padding-left: 50px;">
        <form role="form" [formGroup]="examForm" (ngSubmit)="submitTest()">
            <div class="question-list">
                <div *ngFor="let qData of questions; let i = index;"><br>
                    <div class="mainQuestion">
                        <div class="questionLable" #qlable tabindex="-1">QUESTION {{qData.qId}}</div>
                        <div class="questionHeading">{{qData.qName}}</div>
                        <div *ngFor="let ansData of questions[i].answers; let j = index;">
                            <div class="questionOptions">
                                <input type="radio" name="answers_{{questions[i].qId}}"
                                    (change)="selectedAnswer(questions[i],ansData)"
                                    [checked]='ansData.isSelected === true'>
                                &nbsp; {{ansData.option}} &nbsp;
                                {{ansData.aName}}
                            </div>
                        </div>
                        <div *ngFor="let ansData of questions[i].answers; let j = index;">
                            <div class="clear_answer" *ngIf='ansData.isSelected === true' (click)='clearAnswer(qData)'>
                                Clear Answer
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border border-light">
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">Submit Test</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <div class="questionsIndex">
            <label class="qiHeading">Questions Index</label>
            <div *ngFor='let qIndex of questionsindexData; let i = index;'>
                <div class="indexItems" [ngClass]="{'highlight': qIndex.isSelectedIndex === true}"
                    (click)='focusOnQuestion(qIndex.id)'>
                    {{qIndex.id}}
                </div>
            </div>
        </div>
    </div>
    <div class="fixtimer">
        Time Left: <b>
            <countdown #cd [config]="{leftTime: 1800}" (event)="handleEvent($event)"></countdown>
        </b>
    </div>
</div>