.resultPage {
    border: 2px solid #ddf8c2;
    background-color: #fafafa;
    height: 88px;
    width: 50%;
    margin: auto;
    margin-top: 20px;
}
.row {
    margin: 0px 0px 0px -8px;
}
.testreview {
    color: #5eac1a;
    font-weight: bold;
    margin-top: 10px;
}
.check-answer {
    color: #5eac1a;
}
