<div class="instructions">
    <h4 class="instruction-heading">Instruction:</h4>
    <ul>
        <li style="color: red;">This is a FREE online test. DO NOT pay money to anyone to attend this test.</li>
        <li>Total number of questions : 10.</li>
        <li>Time alloted : 30 minutes.</li>
        <li>Each question carry 1 mark, no negative marks.</li>
        <li>DO NOT refresh the page.</li>
        <li>All the best :-).</li>
    </ul>
    <button class="btn btn-primary" (click)="startTest()" style='margin-left:200px !important'>Start Test</button>
</div>